body{
	background-color: white;
	margin : 0px;
	padding: 0px;
}
header{
	padding: 15px 0px;
	border-bottom: 2px solid #b3b3b3;
}
nav{
	font-family: 'Lato','Julius Sans One', sans-serif; 
	font-size: 14px;
	display: inline;
	padding:0px 10px;
}
nav ul{
	list-style-type: none;
	display: inline;
}
nav ul li{
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}
#logo{
	height: 55px;
	width: auto;
	display: inline;
	vertical-align: middle;
	/*vertical-align: text-top;*/
}
.container{
	max-width: 750px;
	margin:0px auto;
}
.segment{
	padding: 75px 0px;
	background-color: #1e1e23;
}
.segment-white{
	padding: 75px 0px;
	background-color: #fbfbfb;
}
.segment-white h1{
	color: black;
}
.segment-white h1.back{
	color: rgba(204,204,204,0.5);
}
.segment-white p.content{
	color: #333333;
}
.segment-white h3{
	color: black;
}
header .container{
	max-width: 800px;
}

.beforeScroll{
	display: none;
}
.afterScroll{
	display: block;
}

/* Typo   */
h1{
	font-family: 'Crimson Text', serif;
	color: #f2f2f2;
	margin-bottom: 0px;
	margin-top: -31px;
	font-weight: 600;
}
h1.back{
	color: rgba(51,51,51,0.8);
	font-size: 371%;
	margin-left: -41px;
	font-weight: 600;
}
h3{
	color: #e6e6e6;
	font-family: 'Crimson Text', serif;
	font-weight: 400;
	margin-bottom: 0px;
}
p.subtitle{
	font-family: 'Lato','Julius Sans One', sans-serif; 
	font-size: 10px;
	color: #999999;
	margin-top: 0px;
	margin-bottom: 2em;
}
p.content{
	font-family: 'Lato','Julius Sans One', sans-serif; 
	/*font-size: 12px;
	line-height: 230%;*/
	font-size: 16px;
	line-height: 22px;
	color: #f2f2f2;
}

/* for making the text appear on scroll */

.module{
	margin-bottom: 30px;
}
.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 0.8s;
}

.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}
